{% extends "layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p>While you think you've just found what you've always been looking for - The Greatest Homepage Ever, in reality I'm a really bad monster, living somewhere in the deep dark net, waiting for naiv people like you to eat your personal data. After I chwed and swallowed it I puke it out again and send sell it for some bandwidth to my assiciate big brother aka NSA so they also have something of you to chew on...</p>
{% endblock %}
